@model IEnumerable<UserViewModel>
@{
    ViewData["Title"] = "Users/Manage";
    Layout = null;
}
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous" />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="~/AdminMange/Account-Settings.css" />
    <!-- to implement the intl-tel-input. into html -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/css/intlTelInput.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/intlTelInput.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/utils.min.js"></script>

    <title>Account Settings</title>
</head>

<body>
    <div style="min-height: 100vh;  display: flex; flex-direction: column;">
        <!-- Start Nav -->
        <section>
            <header class="site-header sticky-top py-1">
                <nav class="navbar navbar-light">
                    <div class="container d-inline-flex justify-content-between">
                        <a class="navbar-brand" asp-controller="Home" asp-action="Index">
                            <img src="~/Resources/logoLogo.svg" alt="logo">
                        </a>
                    </div>
                </nav>
                <hr />
            </header>
        </section>
        <!-- End Nav -->
        <!-- Start body -->
        <div style="margin: auto 0;">
          
            <table class="container table table-bordered">
                <thead class="table-danger text-center">
                    <tr>
                        <th scope="col">Id</th>
                        <th scope="col">First Name</th>
                        <th scope="col">Last Name</th>
                        <th scope="col">Roles</th>
                        <th scope="col">Profile</th>
                        <th scope="col">Actions</th>
                </tr>
                </thead>
                <tbody class="text-center">
                @foreach(var user in Model)
                {
                    <tr class="">
                        <td>@user.Id</td>
                        <td>@user.FirstName</td>
                        <td>@user.lastName</td>
                        <td>@string.Join(",",user.Roles.ToList())</td>
                        <td scope="col"><a class="btn btn-outline-danger" asp-controller="Profile" asp-action="Index" asp-route-UserId="@user.Id">Go to Profile</a></td>
                        <td scope="col"><a class="btn btn-outline-danger" asp-controller="Admin" asp-action="ManageRole" asp-route-UserId="@user.Id">Add/Remove Roles</a></td>
                    </tr>
                }
            </tbody>
            </table>
            </div>
   
        <!-- Start footer -->
        <div class="footer pt-4 pb-4">
            <div class="container">
                <div class="row">
                    <div class="col-6">
                        <ul class="list-group list-group-horizontal">
                            <li type="none">© 2023 Airbnb, Inc.</li>
                            <span class="ms-2 me-2">·</span>
                            <a href="https://www.airbnb.com/help/article/2908" class="text-dark">
                            <li type="none">Terms</li>
                            </a>
                            <span class="ms-2 me-2">·</span>
                            <a href="https://www.airbnb.com/help/article/2855" class="text-dark">
                            <li type="none">Privacy</li>
                            </a>
                        </ul>
                    </div>
                    <div class="col-2"></div>
                    <div class="col-4">
                        <div>
                            <a href="https://www.facebook.com/airbnb" class="text-decoration-none">
                                <img src="~/PropertDetails/Resources/facebook-logo.png" alt="facebook" style="width: 1.5rem;">
                            </a>
                            <a href="https://twitter.com/airbnb" class="text-decoration-none">
                                <img src="~/PropertDetails/Resources/twitter-icon.png" alt="twitter" style="width: 1.5rem;" class="ms-4">
                            </a>
                            <a href="https://www.instagram.com/airbnb/" class="text-decoration-none">
                                <img src="~/PropertDetails/Resources/instagram-icon.png" alt="instagram" style="width: 1.5rem;" class="ms-4">
                            </a>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- End footer -->
    </div>
    <script src="~/AdminMange/Account-Settings.js"></script>
</body>
<!-- Implementing the js file -->
